.facebook{
    background: blue;
    height: 60px;
    width: 60px;
    padding: 13px;
    box-sizing: border-box;
}

.instagram{
    background: pink;
    height: 60px;
    width: 60px;
    padding: 13px;
    box-sizing: border-box;
}

.twitter{
    background: aqua;
    height: 60px;
    width: 60px;
    padding: 13px;
    box-sizing: border-box;
}

.youtube{
    background: red;
    height: 60px;
    width: 60px;
    padding: 13px;
    box-sizing: border-box;
}