.container{
    background-color: lightgrey;
    display: flex;
    flex-direction: column-reverse;
    padding: 15px 13px 20px 13px;
}

.article{
    border-bottom: 2px solid gray;
    padding: 8px 0px;
    line-height: 25px;
}

a{
    text-decoration: none;
}